<div class="posts">
  <% @posts.each do |post| %>
    <section class="post">
      <div class="user">
        <div class="avatar">
          <% if post.user.avatar.attached? %>
            <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.avatar %>
          <% end %>
          <% else %>
            <%= image_tag("unknown.png") %>
          <% end %>
        </div>

        <div class="username">
          <%= link_to post.user.username, user_path(post.user) %>
        </div>
      </div>

      <%=link_to post_path(post) do %>
        <%=image_tag post.image, class: 'main-image' %>
      <% end %>

      <div class="description">
        <%= post.description %>
        <p class="text-muted"><%= time_ago_in_words post.created_at %> ago </p>

        <% if post.user.id == current_user.id %>
          <div class="update-icon">
            <a href="<%= edit_post_path(post) %>"> 
              <i class="fa fa-cog" aria-hidden="true"></i> 
            </a>
          </div>
        <% end %>
      </div>

      <div class="like">
        <p><%= post.likes.size %> <%= (post.likes.size) == 1 ? 'Like' : 'Likes'%></p>
        <% if has_like?(post, current_user) %>
          <%= link_to 'Unlike', like_path(id: post.id), method: :delete, class: 'btn btn-danger'%>
        <% else %>
          <%= link_to 'Like', likes_path(id: post.id), method: :post, class: 'btn btn-success'%>
        <% end %>
      </div>

      <div class ="comment">
        <h5>Comments:</h5>
        <% post.comments.each do |comment|%>
          <div class="comment__line">
            <div class="comment__gap">
              <strong><%= link_to comment.user.username, user_path(comment.user) %></strong>
              <%= comment.comment %>
            </div>
            <% if comment.user.id == current_user.id %>
              <%= link_to comment_path(comment), method: :delete, class: "fa fa-trash-o",
              data: {confirm: "You want to delete this comment?"} do %>
              <span id="delete_comment">del</span>
              <% end %>
            <% end %>
          </div>
          <p class="text-muted"><%= time_ago_in_words comment.created_at %> ago</p>
        <% end %>
      </div>

      <div class="comment-box">
        <%= form_for Comment.new do |f|%>
          <%= f.hidden_field :post_id, value: post.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          
          <div class="input-group">
            <%= f.text_field :comment, placeholder: "Add comment. Max lenght = 100 symbols.", class: "form-control post-comment", maxlength: 100%>
            <%= f.submit "Add", class: "btn btn-primary float-right" %>
          </div>
        <% end %>
      </div>

    </section>
  <% end %>
</div>

<div class="pagy">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>