<nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="<%= root_path %>">
            <%= fa_stacked_icon "inverse instagram", base: "circle"%>
            Instagram
          </a>
        </div>

<div class="user-section">
<%= link_to 'New post', new_post_path, class: 'btn btn-primary' %>

<a href="<%= users_path%>"> 
<i class="fa fa-users" aria-hidden="true"></i> 
</a>
  
<a href="<%= user_path(current_user)%>"> 
<i class="fa fa-user-circle-o"></i>
</a>

<a href="<%= destroy_user_session_path%>" data-method="delete">
<i class="fa fa-sign-out"></i>
</a>

        </div>
      </div>
    </nav>